@{
	var session = @Context.Session;

	// Lấy các giá trị từ Session
	var patientNum = session.GetString("patientNum");
	var doctorNum = session.GetString("doctorNum");
	var appointmentNum = session.GetString("appointmentNum");
	var totalRevenue = session.GetString("totalRevenue");

	var loginFailMessage = TempData["LoginSuccessMessage"];
	
}

<!DOCTYPE html>
<html lang="en">

<!-- doccure/doctor-dashboard.html  30 Nov 2019 04:12:03 GMT -->
<head>
	<meta charset="utf-8">
	<title>Doccure</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

	<!-- Favicons -->
	<link href="~/Template/assets/img/favicon.png" rel="icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/Template/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="~/Template/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="~/Template/assets/plugins/fontawesome/css/all.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="~/Template/assets/css/style.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
	<style>
		.sliding-alert {
			position: fixed;
			top: 0;
			left: -100%;
			width: 14%;
			padding: 15px; /* Khoảng cách giữa nội dung và biên của thông báo */
			font-size: 18px; /* Kích thước chữ */
			z-index: 1000;
			transition: left 0.5s ease-in-out;
			margin-top: 5%
		}

		.show-alert {
			left: 0; /* Hiển thị thông báo ở lề trái */
		}

	</style>
</head>
<body>
	@if (loginFailMessage != null)
	{
		<div class="sliding-alert show-alert alert alert-success alert-dismissible fade show" role="alert">
			<strong>@loginFailMessage</strong>
		</div>
	}

	<!-- Page Wrapper -->
	<div class="page-wrapper">

		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-12">
						
						<ul class="breadcrumb">
							<li class="breadcrumb-item active">Welcome Admin!</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
				<div class="col-xl-3 col-sm-6 col-12">
					<div class="card">
						<div class="card-body">
							<div class="dash-widget-header">
								<span class="dash-widget-icon text-primary border-primary">
									<i class="fe fe-users"></i>
								</span>
								<div class="dash-count">
									<h3>@doctorNum</h3>
								</div>
							</div>
							<div class="dash-widget-info">
								<h6 class="text-muted">Doctors</h6>
								<div class="progress progress-sm">
									<div class="progress-bar bg-primary w-50"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6 col-12">
					<div class="card">
						<div class="card-body">
							<div class="dash-widget-header">
								<span class="dash-widget-icon text-success">
									<i class="fe fe-credit-card"></i>
								</span>
								<div class="dash-count">
									<h3>@patientNum</h3>
								</div>
							</div>
							<div class="dash-widget-info">

								<h6 class="text-muted">Patients</h6>
								<div class="progress progress-sm">
									<div class="progress-bar bg-success w-50"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6 col-12">
					<div class="card">
						<div class="card-body">
							<div class="dash-widget-header">
								<span class="dash-widget-icon text-danger border-danger">
									<i class="fe fe-money"></i>
								</span>
								<div class="dash-count">
									<h3>@appointmentNum</h3>
								</div>
							</div>
							<div class="dash-widget-info">

								<h6 class="text-muted">Appointments</h6>
								<div class="progress progress-sm">
									<div class="progress-bar bg-danger w-50"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6 col-12">
					<div class="card">
						<div class="card-body">
							<div class="dash-widget-header">
								<span class="dash-widget-icon text-warning border-warning">
									<i class="fe fe-folder"></i>
								</span>
								<div class="dash-count">
									<h3>$@totalRevenue</h3>
								</div>
							</div>
							<div class="dash-widget-info">

								<h6 class="text-muted">Revenue</h6>
								<div class="progress progress-sm">
									<div class="progress-bar bg-warning w-50"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			

			<div class="row">
				<div class="col-md-6 d-flex">

					<!-- Account List -->
					<div class="card card-table flex-fill">
						<div class="card-header">
							<h4 class="card-title">Account List</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-hover table-center mb-0">
									<thead>
										<tr>
											<th>User Id</th>
											<th>Username</th>
											<th>Roll</th>
											<th>Account Status</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										@foreach (var account in ViewBag.AccountList)
										{
											<tr>
												<td>@account.IdUser</td>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/Template/assets/img/patients/patient5.jpg" alt="User Image"></a>
														<a href="profile.html">@account.Username</a>
													</h2>
												</td>

												@if (@account.Roll == 1)
												{
													<td>Admin</td>
												}
												@if (@account.Roll == 2)
												{
													<td>Doctor</td>
												}
												@if (@account.Roll == 3)
												{
													<td>Patient</td>
												}

												@if(@account.AccountStatus == 0){
													<td style="color: red">Deactive</td>
												}
												@if(@account.AccountStatus == 1){
													<td style="color: green">Active</td>
												}
												<td>
													<a href="@Url.Action("ChangeStatus", "AdminHome", new { currentStatus = @account.AccountStatus, accountId = @account.IdUser})">Change Status</a>
												</td>
											</tr>
										}


									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- /Account List -->

				</div>
				<div class="col-md-6 d-flex">

					<!-- Department List -->
					<div class="card  card-table flex-fill">
						<div class="card-header">
							<h4 class="card-title">Department List</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-hover table-center mb-0">
									<thead>
										<tr>
											<th>Department Id</th>
											<th>Department Name</th>

										</tr>
									</thead>
									<tbody>
										@foreach (var department in ViewBag.DepartmentList)
										{
											<tr>
												<td>@department.DepartmentId</td>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/Template/assets/img/features/feature-02.jpg" alt="User Image"></a>
														<a href="profile.html">@department.DepartmentName</a>
													</h2>
												</td>


											</tr>

										}

									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- /Department List -->

				</div>
			</div>
			<div class="row">
				<div class="col-md-12 d-flex">

					<!-- Doctor List -->
					<div class="card card-table flex-fill">
						<div class="card-header">
							<h4 class="card-title">Doctors List</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-hover table-center mb-0">
									<thead>
										<tr>
											<th>Doctor Id</th>
											<th>Doctor Name</th>
											<th>Date Of Birth</th>
											<th>Phonenumber</th>
											<th>Address</th>
											<th>Email</th>
										</tr>
									</thead>
									<tbody>
										@foreach(var doctor in ViewBag.DoctorList)
										{
											<tr>
												<td>@doctor.IdUser</td>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/Template/assets/img/doctors/doctor-thumb-01.jpg" alt="User Image"></a>
														<a href="profile.html">Dr. @doctor.FullName</a>
													</h2>
												</td>
												<td>@doctor.DateOfBirth</td>
												<td>@doctor.Phonenumber</td>
												<td>@doctor.Address</td>
												<td>@doctor.Email</td>
												
												
											</tr>
										}
										
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- /Doctor List -->

				</div>
			</div>

			<div class="row">
				<div class="col-md-12 d-flex">

					<!-- Patient List -->
					<div class="card  card-table flex-fill">
						<div class="card-header">
							<h4 class="card-title">Patients List</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-hover table-center mb-0">
									<thead>
										<tr>
											<th>Patient Id</th>
											<th>Patient Name</th>
											<th>Date Of Birth</th>
											<th>Phonenumber</th>
											<th>Address</th>
											<th>Email</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var patient in ViewBag.PatientList)
										{
											<tr>
												<td>@patient.IdUser</td>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/Template/assets/img/patients/patient1.jpg" alt="User Image"></a>
														<a href="profile.html">@patient.FullName</a>
													</h2>
												</td>
												
												<td>@patient.DateOfBirth</td>
												<td>@patient.Phonenumber</td>
												<td>@patient.Address</td>
												<td>@patient.Email</td>


											</tr>
										}


									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- /Patient List -->

				</div>
			</div>
			<div class="row">
				<div class="col-md-12">

					<!-- Appointment List -->
					<div class="card card-table">
						<div class="card-header">
							<h4 class="card-title">Appointment List</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-hover table-center mb-0">
									<thead>
										<tr>
											<th>Appointment Id</th>
											<th>Doctor</th>
											<th>Patient</th>
											<th>Disease</th>
											<th>Patient's Description</th>
											<th>Appointment Time</th>
											<th>Status</th>
											<th>Total Price</th>
											
										</tr>
									</thead>
									<tbody>
										@foreach (var app in ViewBag.AppointmentList)
										{
											<tr>

												<td>@app.IdAppointment</td>
												<td>@app.IdDoctorNavigation.AccountInfo.FullName</td>
												<td>@app.IdPatientNavigation.AccountInfo.FullName</td>
												<td>@app.IdDiseaseNavigation.DiseaseName</td>
												<td>@app.PatientConditionDescription</td>
												<td>@app.AppointmentTime</td>
												<td>@app.StatusNavigation.StatusName</td>
												<td>@app.TotalPrice</td>

											</tr>
										}
										
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- /Appointment List -->

				</div>
			</div>

		</div>
	</div>
	<!-- /Page Wrapper -->
	</div>
	<!-- /Main Wrapper -->
	<!-- /Main Wrapper -->
	<!-- jQuery -->
	<script src="~/Template/assets/js/jquery.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="~/Template/assets/js/popper.min.js"></script>
	<script src="~/Template/assets/js/bootstrap.min.js"></script>

	<!-- Sticky Sidebar JS -->
	<script src="~/Template/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
	<script src="~/Template/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

	<!-- Circle Progress JS -->
	<script src="~/Template/assets/js/circle-progress.min.js"></script>

	<!-- Custom JS -->
	<script src="~/Template/assets/js/script.js"></script>

	<script>
		$(document).ready(function () {
			// Hiển thị thông báo
			$(".sliding-alert").addClass("show-alert");

			// Tự động tắt thông báo sau 3 giây
			setTimeout(function () {
				$(".sliding-alert").removeClass("show-alert");
			}, 3000);
		});

	</script>

</body>

<!-- doccure/doctor-dashboard.html  30 Nov 2019 04:12:09 GMT -->
</html>