@model Website_Mvc.Models.DoctorViewModel
@{
	DateTime today = DateTime.Today;
	var loginFailMessage = TempData["LoginSuccessMessage"];
	var FeedbackSuccessfulMessage = TempData["FeedbackSuccessfulMessage"];
}


<!DOCTYPE html>
<html lang="en">

<!-- doccure/doctor-dashboard.html  30 Nov 2019 04:12:03 GMT -->
<head>
	<meta charset="utf-8">
	<title>Doccure</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

	<!-- Favicons -->
	<link href="~/Template/assets/img/favicon.png" rel="icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/Template/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="~/Template/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="~/Template/assets/plugins/fontawesome/css/all.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="~/Template/assets/css/style.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
	<style>
		.sliding-alert {
			position: fixed;
			top: 0;
			left: -100%;
			width: 16%;
			padding: 15px; /* Khoảng cách giữa nội dung và biên của thông báo */
			font-size: 18px; /* Kích thước chữ */
			z-index: 1000;
			transition: left 0.5s ease-in-out;
			margin-top: 5%
		}

		.show-alert {
			left: 0; /* Hiển thị thông báo ở lề trái */
		}

	</style>
</head>
<body>
	@if (loginFailMessage != null)
	{
		<div class="sliding-alert show-alert alert alert-success alert-dismissible fade show" role="alert">
			<strong>@loginFailMessage</strong>
		</div>
	}
	@if (FeedbackSuccessfulMessage != null)
	{
		<div class="sliding-alert show-alert alert alert-success alert-dismissible fade show" role="alert">
			<strong>@FeedbackSuccessfulMessage</strong>
		</div>
	}
	<!-- Main Wrapper -->
	<div class="main-wrapper">


		<!-- Breadcrumb -->
		<div class="breadcrumb-bar">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-md-12 col-12">
						<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
							</ol>
						</nav>
						<h2 class="breadcrumb-title">Dashboard</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadcrumb -->
		<!-- Page Content -->
		<div class="content">
			<div class="container-fluid">

				<div class="row">
					<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

						<!-- Profile Sidebar -->
						<div class="profile-sidebar">
							<div class="widget-profile pro-widget-content">
								<div class="profile-info-widget">
									<a href="#" class="booking-doc-img">
										<img src="~/Template/assets/img/doctors/@Model.Doctor.UserImage" alt="User Image">
									</a>
									<div class="profile-det-info">
										<h3>Dr. @Model.Doctor.FullName</h3>

										<div class="patient-details">
											<h5 class="mb-0">@Model.Doctor.DepartmentName</h5>
										</div>
									</div>
								</div>
							</div>
							<div class="dashboard-widget">
								<nav class="dashboard-menu">
									<ul>
										<li class="active">
											<a href="doctor-dashboard.html">
												<i class="fas fa-columns"></i>
												<span>Dashboard</span>
											</a>
										</li>

									</ul>
								</nav>
							</div>
						</div>
						<!-- /Profile Sidebar -->

					</div>

					<div class="col-md-7 col-lg-8 col-xl-9">

						<div class="row">
							<div class="col-md-12">
								<div class="card dash-card">
									<div class="card-body">
										<div class="row">
											<div class="col-md-12 col-lg-4">
												<div class="dash-widget dct-border-rht">
													<div class="circle-bar circle-bar1">
														<div class="circle-graph1" data-percent="75">
															<img src="~/Template/assets/img/icon-01.png" class="img-fluid" alt="patient">
														</div>
													</div>
													<div class="dash-widget-info">
														<h6>Total Patient</h6>
														<h3>@Model.PatientCount</h3>
														<p class="text-muted">Till Today</p>
													</div>
												</div>
											</div>

											<div class="col-md-12 col-lg-4">
												<div class="dash-widget dct-border-rht">
													<div class="circle-bar circle-bar2">
														<div class="circle-graph2" data-percent="65">
															<img src="~/Template/assets/img/icon-02.png" class="img-fluid" alt="Patient">
														</div>
													</div>
													<div class="dash-widget-info">
														<h6>Today Appointment</h6>
														<h3>@Model.TodayAppointmentCount</h3>
														<p class="text-muted">@today.ToShortDateString()</p>
													</div>
												</div>
											</div>

											<div class="col-md-12 col-lg-4">
												<div class="dash-widget">
													<div class="circle-bar circle-bar3">
														<div class="circle-graph3" data-percent="50">
															<img src="~/Template/assets/img/icon-03.png" class="img-fluid" alt="Patient">
														</div>
													</div>
													<div class="dash-widget-info">
														<h6>Appoinments</h6>
														<h3>@Model.TotalAppointmentCount</h3>
														<p class="text-muted">Till Today</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<h4 class="mb-4">Patient Appoinment</h4>
								<div class="appointment-tab">

									<!-- Appointment Tab -->
									<ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
										<li class="nav-item">
											<a class="nav-link active" href="#upcoming-appointments" data-toggle="tab">All</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#today-appointments" data-toggle="tab">Today</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#doctor-feedback" data-toggle="tab">Doctor Feedback</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#doctor-review" data-toggle="tab">Doctor's Review</a>
										</li>
									</ul>
									<!-- /Appointment Tab -->

									<div class="tab-content">

										<!-- Upcoming Appointment Tab -->
										<div class="tab-pane show active" id="upcoming-appointments">
											<div class="card card-table mb-0">
												<div class="card-body">
													<div class="table-responsive">
														<table class="table table-hover table-center mb-0">
															<thead>
																<tr>
																	<th>Patient Name</th>
																	<th>Appt Date</th>
																	<th>Disease</th>
																	<th>Description</th>
																	<th>Status</th>
																	<th class="text-center">Paid Amount</th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																@if (Model != null && Model.GetAppointmentList != null && Model.GetAppointmentList.Any())
																{
																	@foreach (var appointment in Model.GetAppointmentList)
																	{

																		<tr>
																			<td>
																				<h2 class="table-avatar">
																					<a href="patient-profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/Template/assets/img/patients/patient1.jpg" alt="User Image"></a>
																					<a href="patient-profile.html">@appointment.PatientFirstName @appointment.PatientLastName <span>#PT00@(appointment.IdPatient)</span></a>
																				</h2>
																			</td>
																			<td>@(appointment.AppointmentDate.HasValue ? appointment.AppointmentDate.Value.ToShortDateString() : "N/A") <span class="d-block text-info">@appointment.AppointmentTime</span></td>
																			<td>@appointment.DiseaseName</td>
																			<td>@appointment.Description</td>
																			<td>@appointment.StatusName</td>
																			<td class="text-center">@appointment.TotalPrice</td>
																			<td class="text-right">
																				<div class="table-action">
																					@if (appointment.StatusName == "Pending")
																					{
																						<a href="@Url.Action("AcceptAppointment", "DoctorHome", new { appointmentId = appointment.IdAppointment })" class="btn btn-sm bg-success-light">
																							<i class="fas fa-check"></i> Accept
																						</a>
																						<a href="@Url.Action("CancelAppointment", "DoctorHome", new { appointmentId = appointment.IdAppointment })" class="btn btn-sm bg-danger-light">
																							<i class="fas fa-times"></i> Cancel
																						</a>
																					}
																					else if (appointment.StatusName == "Accepted")
																					{
																						<a href="@Url.Action("WriteFeedback", "DoctorHome", new { appointmentId = appointment.IdAppointment })" class="btn btn-sm bg-success-light">
																							<i class="fas fa-check"></i> Complete and Give feedback
																						</a>
																					}
																					else if (appointment.StatusName == "Rejected")
																					{
																					}
																					else if (appointment.StatusName == "Completed")
																					{
																						<span>Already Feedback</span>
																					}
																				</div>
																			</td>
																		</tr>
																	}
																}

															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
										<!-- /Upcoming Appointment Tab -->
										<!-- Today Appointment Tab -->
										<div class="tab-pane" id="today-appointments">
											<div class="card card-table mb-0">
												<div class="card-body">
													<div class="table-responsive">
														<table class="table table-hover table-center mb-0">
															<thead>
																<tr>
																	<th>Patient Name</th>
																	<th>Appt Date</th>
																	<th>Disease</th>
																	<th>Description</th>
																	<th>Status</th>
																	<th class="text-center">Paid Amount</th>
																	<th></th>
																</tr>
															</thead>

															<tbody>
																@if (Model.DoctorTodayAppointments != null && Model.DoctorTodayAppointments.Any())
																{
																	@foreach (var appointment in Model.DoctorTodayAppointments)
																	{
																		<tr>
																			<td>
																				<h2 class="table-avatar">
																					<a href="patient-profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/Template/assets/img/patients/patient10.jpg" alt="User Image"></a>
																					<a href="patient-profile.html">@appointment.PatientFirstName @appointment.PatientLastName <span>#PT000@(appointment.IdPatient)</span></a>
																				</h2>
																			</td>
																			<td>@(appointment.AppointmentDate.HasValue ? appointment.AppointmentDate.Value.ToShortDateString() : "N/A") <span class="d-block text-info">@appointment.AppointmentTime</span></td>
																			<td>@appointment.DiseaseName</td>
																			<td>@appointment.Description</td>
																			<td>@appointment.StatusName</td>
																			<td class="text-center">@appointment.TotalPrice</td>
																			<td class="text-right">
																				<div class="table-action">
																					@if (appointment.StatusName == "Pending")
																					{
																						<a href="@Url.Action("AcceptAppointment", "DoctorHome", new { appointmentId = appointment.IdAppointment })" class="btn btn-sm bg-success-light">
																							<i class="fas fa-check"></i> Accept
																						</a>
																						<a href="@Url.Action("CancelAppointment", "DoctorHome", new { appointmentId = appointment.IdAppointment })" class="btn btn-sm bg-danger-light">
																							<i class="fas fa-times"></i> Cancel
																						</a>
																					}
																					else if (appointment.StatusName == "Accepted")
																					{
																						<a href="@Url.Action("WriteFeedback", "DoctorHome", new { appointmentId = appointment.IdAppointment })" class="btn btn-sm bg-success-light">
																							<i class="fas fa-check"></i> Complete and Give feedback
																						</a>
																					}
																					else if (appointment.StatusName == "Rejected")
																					{
																					}
																					else if (appointment.StatusName == "Completed")
																					{
																						<span>Already Feedback</span>
																					}
																				</div>
																			</td>
																		</tr>
																	}
																}
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
										<!-- /Today Appointment Tab -->
										<div class="tab-pane" id="doctor-feedback">
											<div class="card card-table mb-0">
												<div class="card-body">
													<div class="table-responsive">
														<table class="table table-hover table-center mb-0">
															<thead>
																<tr>
																	<th>ID Appointment</th>
																	<th>Patient Name</th>
																	<th>Disease Name</th>
																	<th>Appointment Date</th>
																	<th>Feedback Content</th>
																</tr>
															</thead>
															<tbody>
																@foreach (var feedback in Model.GetDoctorFeedbacks)
																{
																	<tr>
																		<td>@feedback.IdAppointment</td>
																		<td>
																			<h2 class="table-avatar">
																				<a href="patient-profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/Template/assets/img/patients/patient1.jpg" alt="User Image"></a>
																				<a href="patient-profile.html">@feedback.PatientName <span></span></a>
																			</h2>
																		</td>

																		<td>@feedback.DiseaseName</td>
																		<td>@feedback.AppointmentDate</td>
																		<td class="text-center">@feedback.FeedbackContent</td>
																	</tr>
																}


															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="doctor-review">
											<div class="card card-table mb-0">
												<div class="card-body">
													<div class="table-responsive">
														<table class="table table-hover table-center mb-0">
															<thead>
																<tr>
																	<th>ID Review</th>
																	<th>Patient Name</th>
																	<th>Email</th>
																	<th>Review Content</th>
																</tr>
															</thead>
															<tbody>
																@foreach (var review in Model.GetDoctorReviews)
																{
																	<tr>
																		<td>@review.IdReviews</td>
																		<td>
																			<h2 class="table-avatar">
																				<a href="patient-profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/Template/assets/img/patients/patient1.jpg" alt="User Image"></a>
																				<a href="patient-profile.html">@review.PatientName</a>
																			</h2>
																		</td>
																		<td>@review.Email</td>
																		<td>@review.ReviewContent</td>
																	</tr>
																}


															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>

		</div>
		<!-- /Page Content -->


	</div>
	<!-- /Main Wrapper -->
	<!-- jQuery -->
	<script src="~/Template/assets/js/jquery.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="~/Template/assets/js/popper.min.js"></script>
	<script src="~/Template/assets/js/bootstrap.min.js"></script>

	<!-- Sticky Sidebar JS -->
	<script src="~/Template/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
	<script src="~/Template/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

	<!-- Circle Progress JS -->
	<script src="~/Template/assets/js/circle-progress.min.js"></script>

	<!-- Custom JS -->
	<script src="~/Template/assets/js/script.js"></script>
	<script>
		$(document).ready(function () {
			// Hiển thị thông báo
			$(".sliding-alert").addClass("show-alert");

			// Tự động tắt thông báo sau 3 giây
			setTimeout(function () {
				$(".sliding-alert").removeClass("show-alert");
			}, 3000);
		});

	</script>
</body>

<!-- doccure/doctor-dashboard.html  30 Nov 2019 04:12:09 GMT -->
</html>