@model Website_Mvc.Models.AppointmentFeedbackViewModel
@{
	DateTime? DOB =  @Model.AccountInfo.DateOfBirth;
	string ngaySinh =  DOB?.ToString("MM/dd/yyyy"); ;

	var loginFailMessage = TempData["LoginSuccessMessage"];
	var AlreadyReviewMessage = TempData["AlreadyReviewMessage"];
	var ReviewSuccessfulMessage = TempData["ReviewSuccessfulMessage"];
}
<!DOCTYPE html>
<html lang="en">

<!-- doccure/doctor-dashboard.html  30 Nov 2019 04:12:03 GMT -->
<head>
	<meta charset="utf-8">
	<title>Doccure</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

	<!-- Favicons -->
	<link href="~/Template/assets/img/favicon.png" rel="icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/Template/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="~/Template/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="~/Template/assets/plugins/fontawesome/css/all.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="~/Template/assets/css/style.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
	<style>
		.sliding-alert {
			position: fixed;
			top: 0;
			left: -100%;
			width: 14%;
			padding: 15px; /* Khoảng cách giữa nội dung và biên của thông báo */
			font-size: 18px; /* Kích thước chữ */
			z-index: 1000;
			transition: left 0.5s ease-in-out;
			margin-top: 5%
		}

		.show-alert {
			left: 0; /* Hiển thị thông báo ở lề trái */
		}

	</style>
</head>
<body>
	@if (loginFailMessage != null)
	{
		<div class="sliding-alert show-alert alert alert-success alert-dismissible fade show" role="alert">
			<strong>@loginFailMessage</strong>
		</div>
	}
	@if (AlreadyReviewMessage != null)
	{
		<div class="sliding-alert show-alert alert alert-success alert-dismissible fade show" role="alert">
			<strong>@AlreadyReviewMessage</strong>
		</div>
	}
	@if (ReviewSuccessfulMessage != null)
	{
		<div class="sliding-alert show-alert alert alert-success alert-dismissible fade show" role="alert">
			<strong>@ReviewSuccessfulMessage</strong>
		</div>
	}
	<!-- Main Wrapper -->
	<div class="main-wrapper">



		<!-- Breadcrumb -->
		<div class="breadcrumb-bar">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-md-12 col-12">
						<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
							</ol>
						</nav>
						<h2 class="breadcrumb-title">Dashboard</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadcrumb -->
		<!-- Page Content -->
		<div class="content">
			<div class="container-fluid">

				<div class="row">

					<!-- Profile Sidebar -->
					<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
						<div class="profile-sidebar">
							<div class="widget-profile pro-widget-content">
								<div class="profile-info-widget">
									<a href="#" class="booking-doc-img">
										<img src="~/Template/assets/img/patients/patient10.jpg" alt="User Image">
									</a>
									<div class="profile-det-info">
										<h3>@Model.AccountInfo.FullName</h3>
										<div class="patient-details">
											<h5><i class="fas fa-birthday-cake"></i>@ngaySinh </h5>
											<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i>@Model.AccountInfo.Address</h5>
										</div>
									</div>
								</div>
							</div>
							<div class="dashboard-widget">
								<nav class="dashboard-menu">
									<ul>
										<li class="active">
											<a href="patient-dashboard.html">
												<i class="fas fa-columns"></i>
												<span>Dashboard</span>
											</a>
										</li>
										
									</ul>
								</nav>
							</div>

						</div>
					</div>
					<!-- / Profile Sidebar -->

					<div class="col-md-7 col-lg-8 col-xl-9">
						<div class="card">
							<div class="card-body pt-0">

								<!-- Tab Menu -->
								<nav class="user-tabs mb-4">
									<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
										<li class="nav-item">
											<a class="nav-link active" href="#pat_appointments" data-toggle="tab">Appointments</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#pat_prescriptions" data-toggle="tab">Doctor's Feedbacks</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#pat_medical_records" data-toggle="tab"><span class="med-records">Patient's Reviews</span></a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#pat_billing" data-toggle="tab">Medical History</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#pat_upcoming" data-toggle="tab">Upcoming</a>
										</li>
									</ul>
								</nav>
								<!-- /Tab Menu -->
								<!-- Tab Content -->
								<div class="tab-content pt-0">
									<!-- Appointment Tab -->
									<div id="pat_appointments" class="tab-pane fade show active">
										<div style="display:flex;justify-content:flex-end;align-items:center">
											<form id="formSearch" action="@Url.Action("Index","PatientHome")">

												<input type="text" name="txtSearch" placeholder="Enter Disease's name..." />

												<button type="submit" class="btn btn-rounded btn-info">Search</button>
											</form>
										</div>
										<br />
										<div class="card card-table mb-0">
											<div class="card-body">
												<div class="table-responsive">
													<table class="table table-hover table-center mb-0">
														<thead>
															<tr>
																<th>Id</th>
																<th>Doctor</th>
																<th>Disease</th>
																<th>Description</th>
																<th>DateTime</th>
																<th>Status</th>
																<th></th>
															</tr>
														</thead>
														<tbody>
															@foreach (var appointment in Model.Appointments)
															{

																<tr>
																	<td>@appointment.IdAppointment</td>
																	<td>@appointment.IdDoctorNavigation.AccountInfo.FullName</td>
																	<td>@appointment.IdDiseaseNavigation.DiseaseName</td>
																	<td>@appointment.PatientConditionDescription</td>
																	<td>@appointment.AppointmentTime</td>
																	@if (@appointment.StatusNavigation.IdStatus == 1)
																	{
																		<td style="color:#F39C21;">@appointment.StatusNavigation.StatusName</td>
																		<td><button class="btn btn-danger"> <a asp-action="Delete" asp-controller="PatientHome" asp-route-id="@appointment.IdAppointment">Delete</a></button></td>

																	}
																	@if (@appointment.StatusNavigation.IdStatus == 2)
																	{
																		<td style="color:#26AF48;">@appointment.StatusNavigation.StatusName</td>
																	}
																	@if (@appointment.StatusNavigation.IdStatus == 3)
																	{
																		<td style="color:#E63C3C">@appointment.StatusNavigation.StatusName</td>
																	}
																	@if (@appointment.StatusNavigation.IdStatus == 4)
																	{
																		<td style="color:#26AF48">@appointment.StatusNavigation.StatusName</td>
																	}

																</tr>
															}
														</tbody>
													</table>
												</div>
											</div>
										</div>

									</div>
									<!-- /Appointment Tab -->
									<!-- Prescription Tab -->
									<div class="tab-pane fade" id="pat_prescriptions">
										<div class="card card-table mb-0">
											<div class="card-body">
												<div class="table-responsive">
													<table class="table table-hover table-center mb-0">
														<thead>
															<tr>
																<th>Id </th>
																<th>Doctor</th>
																<th>Feedback</th>
																<th></th>
															</tr>
														</thead>
														<tbody>
															@foreach (var doctorfeedback in Model.DoctorFeedbacks)
															{
																<tr>
																	<td>@doctorfeedback.IdAppointment</td>
																	<td>@doctorfeedback.IdDoctorNavigation.AccountInfo.FullName</td>
																	<td>@doctorfeedback.FeedbackContent</td>
																</tr>
															}
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
									<!-- /Prescription Tab -->
									<!-- Medical Records Tab -->
									<div id="pat_medical_records" class="tab-pane fade">
										<div class="card card-table mb-0">
											<div class="card-body">
												<div class="table-responsive">
													<table class="table table-hover table-center mb-0">
														<thead>
															<tr>
																<th>ID </th>
																<th>Doctor</th>
																<th>Description</th>
																<th></th>
															</tr>
														</thead>
														<tbody>
															@foreach (var review in Model.PatientReviews)
															{
																<tr>

																	<td>@review.IdReviews</td>
																	<td>@review.IdDoctorNavigation.AccountInfo.FullName</td>
																	<td>@review.ReviewContent</td>
																	<td><button class="btn btn-danger"> <a href="@Url.Action("DeletePatienReview","PatientHome", new{idReview=review.IdReviews})">Delete</a></button></td>
																</tr>
															}
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
									<!-- /Medical Records Tab -->
									<!-- Billing Tab -->
									<div id="pat_billing" class="tab-pane fade">
										<div class="card card-table mb-0">
											<div class="card-body">
												<div class="table-responsive">
													<table class="table table-hover table-center mb-0">
														<thead>
															<tr>
																<th>Id </th>
																<th>Doctor</th>
																<th>Disease</th>
																<th>Description</th>
																<th>DateTime</th>
																<th>Status</th>
																<th></th>
															</tr>
														</thead>
														<tbody>
															@foreach (var appointmentcompleted in Model.AppointmentsCompleted)
															{

																<tr>
																	<td>@appointmentcompleted.IdAppointment</td>
																	<td>@appointmentcompleted.IdDoctorNavigation.AccountInfo.FullName</td>
																	<td>@appointmentcompleted.IdDiseaseNavigation.DiseaseName</td>
																	<td>@appointmentcompleted.PatientConditionDescription</td>
																	<td>@appointmentcompleted.AppointmentTime</td>
																	<td style="color:green;">@appointmentcompleted.StatusNavigation.StatusName</td>
																	<td><button class="btn btn-primary"> <a href="@Url.Action("FeedbackDoctor","PatientHome",new{doctorId=@appointmentcompleted.IdDoctor, idAppointment=@appointmentcompleted.IdAppointment})">Review</a></button></td>
																</tr>
															}
														</tbody>
													</table>
												</div>
											</div>
										</div>

									</div>
									<!-- /Billing Tab -->
									<div id="pat_upcoming" class="tab-pane fade">
										<div class="card card-table mb-0">
											<div class="card-body">
												<div class="table-responsive">
													<table class="table table-hover table-center mb-0">
														<thead>
															<tr>
																<th>Id</th>
																<th>Doctor</th>
																<th>Disease</th>
																<th>Description</th>
																<th>DateTime</th>
																<th>Status</th>
																<th></th>
															</tr>
														</thead>
														<tbody>
															@foreach (var appointmentUpcoming in Model.AppointmentUpcoming)
															{

																<tr>
																	<td>@appointmentUpcoming.IdAppointment</td>
																	<td>@appointmentUpcoming.IdDoctorNavigation.AccountInfo.FullName</td>
																	<td>@appointmentUpcoming.IdDiseaseNavigation.DiseaseName</td>
																	<td>@appointmentUpcoming.PatientConditionDescription</td>
																	<td>@appointmentUpcoming.AppointmentTime</td>
																	<td style="color:green;">@appointmentUpcoming.StatusNavigation.StatusName</td>

																</tr>
															}
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
									<!-- /Billing Tab -->

								</div>
								<!-- Tab Content -->

							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
		<!-- /Page Content -->


	</div>
	<!-- /Main Wrapper -->
	<!-- jQuery -->
	<script src="~/Template/assets/js/jquery.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="~/Template/assets/js/popper.min.js"></script>
	<script src="~/Template/assets/js/bootstrap.min.js"></script>

	<!-- Sticky Sidebar JS -->
	<script src="~/Template/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
	<script src="~/Template/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

	<!-- Circle Progress JS -->
	<script src="~/Template/assets/js/circle-progress.min.js"></script>

	<!-- Custom JS -->
	<script src="~/Template/assets/js/script.js"></script>
	<script>
		$(document).ready(function () {
			// Hiển thị thông báo
			$(".sliding-alert").addClass("show-alert");

			// Tự động tắt thông báo sau 3 giây
			setTimeout(function () {
				$(".sliding-alert").removeClass("show-alert");
			}, 3000);
		});

	</script>
</body>

<!-- doccure/doctor-dashboard.html  30 Nov 2019 04:12:09 GMT -->
</html>